.App {
  text-align: center;
}

.Title {
  position: fixed;
  top: 112px;
  left: 40%;
  z-index: 100;
  width: 310px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.4) 0 8px 24px;
}

